<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".UiComponents"
            android:exported="false"
            android:label="@string/title_activity_ui_components"
            android:theme="@style/Theme.CleanProject" />
    </application>

</manifest>